# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# PyCharm project settings
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
.venv/
venv/

# Cache / Electron / Chromium
Cache/
Code Cache/
GPUCache/
Dawn*
Crashpad/
CachedData/
CachedConfigurations/
CachedProfilesData/
Local Storage/
Session Storage/
Network/
Shared Dictionary/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini


